body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.mapPopup {
    width: 10rem;
    height: 10rem;
}
#info-tab {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 50px;
    right: -50px;
    z-index: 10;
    width: 250px;
    padding: 15px;
    background-color: #202020;
    border-radius: 5px;
    color: white;
    transition:
        right .5s ease-in-out,
        opacity .2s ease-in-out,
        visibility 0.5s;
}
#info-tab.is-visible {
    visibility: visible;
    opacity: .80;
    right: 50px;
    transition-delay: 0ms;

}
.btn-close {
    float: right;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#cursorCoordBox {
    position: fixed;
    bottom: 35px;
    left: 7px;
    z-index: 10;
    display: flex;
    background-color: black;
    opacity: .65;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
#cursorCoordBox > p {
    margin: 7px;
}